<main>
  
  <br />
  
  <ol class="breadcrumb">
    {{#each breadcrumb}}
    <li class="breadcrumb-item">
      {{#if url}}
      <a href="{{url}}">{{name}}</a>
      {{else}}
      {{name}}
      {{/if}}
    </li>
  {{/each}}
  </ol>
    <br>

    <div class="row g-5">
      <div class="col-6">
                {{#with productData}}
              <img class="card-img-top" src="{{img}}">
              <br>
              <br>
              {{#with info}}
              <div class="card">
            <div class="card-title">{{title}}</div>
            <p class="card-body">{{about}}</p>
            <h4>{{price}}
            {{#each category}}
           {{#if isNew}}
            <span class='badge text-bg-info rounded-pill text-capitalixe'>{{name}}</span>
            {{/if}} 
           {{#if isHot}}       
                  <span class='badge text-bg-warning rounded-pill text-capitalixe'>{{name}}</span>
              {{/if}}
              {{#if isBonus}}       
                  <span class='badge text-bg-danger rounded-pill text-capitalixe'>{{name}}</span>
              {{/if}}  
           {{/each}}</h4>
          {{/with}}
           </div>
           

      </div>
      <div class="col-5">
        <div class="card">
           {{#with item}}
          <table class='table'>
            <thead class="table-bordered">
             <tr>
              {{#each head}}
                <th>{{this}}</th>
                {{/each}}
                </tr>
            </thead>
          <tbody>
              {{#each body}}  
              <tr>{{#each this}}
                {{#if @first}}
                <th>
                  {{this}}</th>
                  {{else}}
                  <td>{{this}}</td>
                  {{/if}}
                  {{/each}}</td>
              {{/each}}
            </tr>
          </tbody>
        </table>
        {{/with}}
        </div>
        <div class="card">
          {{#with param}}
            <p class="card-header">{{title}}</p>
            <ol class="list-group">
              {{#each list}}
              <li class="list-group-item">{{this}}</li>
              {{/each}}
            </ol>
            {{/with}}
            <div class="alert-danger">
              {{#with alert}}
              {{#if isError}}{{text}}{{/if}}
              {{/with}}
            </div>
          
        </div>
       
      </div>
    </div>
        
    



 <div class="card">
              <ul class="nav">
              {{#each actionList}}
               <li class="nav-link">
                 {{#if isWarning}}<button type="button" class="btn btn-primary">{{name}}</button>{{/if}}
                
                {{#if isError}}<button tupe="button" class="btn btn-info">{{name}}</button>{{/if}}
                
                {{#if isSuccess}}<button type="button" class="btn btn-outline-warning">{{name}}</button>{{/if}}
                
                {{#if isGood}}<button type="button" class="btn btn-outline-danger">{{name}}</button>{{/if}}
             </li>
              {{/each}}
            </ul>
           </div>
 {{/with}}
  {{> shopcard}}
  {{> shophome}} 
</main>
  

